@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Font antialiasing */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    --body-padding: clamp(1rem, -0.071rem + 3.429vw, 2.5rem);
}

body {
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;

    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
}