@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Font antialiasing */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    --color-palette-red: #A23723;
    --color-palette-blue: #1B5F93;
    --color-palette-yellow: #DDB343;
    --color-palette-orange: #EF9042;
    --color-palette-cream: #D8BC7F;
    --color-palette-offwhite: #CBD0C9;

     /* Padding will scale between 12px at 600px and 32px at 1200px. */
    --body-padding: clamp(0.75rem, -0.5rem + 3.333vw, 2rem);
}

body {
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 80px var(--body-padding) 80px var(--body-padding);
    padding-bottom: 80px;

    font-size: 20px;
}